{% extends "base.html" %}
{% block page_content %}
   <div class="text-center text-light" style="padding: 5px; background: black">
    <h1>{{ category | title }}</h1>
    </div>
  <div class="col-md-10 offset-md-1 " style="padding: 10px; ">

        {% for post in posts %}
           <div class=" shadow card" >

        <div class="card-header" style="">
        <h2><a style="color: #28161C" href="{% url 'blog_detail' post.slug%}">{{ post.title }}</a></h2>
        </div>
        <div class="card-body  " >


        <p class="">{{ post.body | safe |slice:":400" }}...</p>


        </div>
         <div class="card-footer">
          <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a style="background:#C42827; color:white;" href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
         </div>
       </div>
       <br>

    {% endfor %}

    </div>
    </div>

{% endblock %}
