{% extends "base.html" %}
{% block page_content %}
 <div class="bg-secondary" style=" height: calc(100vh) ">
<div class=" mx-auto   text-center " style="width:310px;display: flex;  padding-top: 20px;">
        <div class='at-try'>
  <div class='at-container'>
    <div class='at-item' >
    </div>
  </div>
  </div>
  <div class='at-try'>
  <div class='at-container'>
    <div class='at-item' >

    </div>
  </div>
  </div>


</div>

        <div class="">
        <h1 class="text-center">404(Page Not Found)</h1>
        <div class="container text-center bg-black text-light">
    <h2>I'm afraid you have found a page that does not really exist. That can happen when you follow a link to something that has since been deleted or the link was incorrect to begin with.</h2>
        </div>
        </div>
        </div>
{% endblock %}
